# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug/
CMakeFiles
.clion.source.upload.marker
CMakeCache.txt
Makefile
Neat_neural_network
Neat_neural_network.cbp
cmake_install.cmake
hall_of_champions/*
